<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Practice Board</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'practice_boards/js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'practice_boards/css/all.css' %}" />
	<link rel="stylesheet" href="{% static 'practice_boards/css/screen.css' %}" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<header id="header">
				<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<li><a class="active" href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'practices' %}">All practices</a></li>
                            <li><a href="">All authors</a></li>
							<li><a href="Contact.html">Contact</a></li>
						</ul>
					</nav>
				<h1 class="logo">Practice Board</h1>
<!--				<h2 class="slogan">Show Me The Code</h2>-->
			</header>
		</div>
		<div class="wrapper-holder grey">
			<section id="main">
				<h2>Here are latest practices</h2>
                {% if authors %}
				<div class="box_timeline_holder">
					<div class="box_timeline">
						<ul>
                            {% for author in authors %}
							<li>
								<div class="date">
									<span>{{ author }}</span>
								</div>
								<h3><a href="{{ latest_upload_practice.get_absolute_url }}">{{ latest_upload_practice.title }}</a></h3>
								<p>Temp</p>
							</li>
                           {% endfor %}
						</ul>
					</div>
				</div>
                {% endif %}
			</section>
		</div>
		<footer id="footer">
			<div class="footer-content">
				<ul class="social">
					<li class="email"><a href="#">Email</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
					<li class="google"><a href="#">Google+</a></li>
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="pinterest"><a href="#">Pinterest</a></li>
				</ul>
<!--				<p class="copy">Thanks to: Copyright 2014 John Markowitz. All rights reserved.</p>-->
			</div>
		</footer>
	</div>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="{% static 'practice_boards/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'practice_boards/js/cells-by-row.js' %}"></script>
	<script type="text/javascript" src="{% static 'practice_boards/js/fancybox/jquery.fancybox.pack.js' %}"></script>
	<script type="text/javascript" src="{% static 'practice_boards/js/main.js' %}"></script>
</body>
</html>
